<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SymbolGratext -->
      <package
            uri="http://learnlib.de/learnlib-stuido/symbol/symbol/gratext"
            class="de.learnlib.studio.symbol.gratext.SymbolGratextPackage"
            genModel="model/de/learnlib/studio/symbol/gratext/SymbolGratext.genmodel"/>
   </extension>

</plugin>
