<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SibLibraryGratext -->
      <package
            uri="http://learnlib.de/learnlib-studio/siblibrary/gratext"
            class="de.learnlib.studio.siblibrary.gratext.SibLibraryGratextPackage"
            genModel="model/de/learnlib/studio/siblibrary/gratext/SibLibraryGratext.genmodel"/>
   </extension>

</plugin>
