<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MealyGratext -->
      <package
            uri="http://learnlib.de/learnlib-studio/mealy/gratext"
            class="de.learnlib.studio.mealy.gratext.MealyGratextPackage"
            genModel="model/de/learnlib/studio/mealy/gratext/MealyGratext.genmodel"/>
   </extension>

</plugin>
